{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'AlphaLemonCmsBundle:Themes:base.html.twig' %}

{% block theme_panel %}
<div id="al_theme_fixer">
    <div>
        <b>{{ "Theme:"|trans({}, themes_controller_domain, cms_language) }}</b> <span id="al-theme">{{ themeName }}</span>
    </div>    
    <form id="al_theme_changer_form">
        <table>
        {% for current_template in current_templates %}
            <tr>
                <td>
                    {{ current_template }}
                    <input id="al-template" name="al-template" type="hidden" value="{{ current_template }}" />
                </td>
                <td>
                    <select id="al-mapped-template" name="al-mapped-template" class="input-medium"> 
                        <option value="">-</option>  
                        {% for template in templates %} 
                        {% set selected = (current_template == template) ? " selected" : "" %}
                        <option value="{{ template }}"{{ selected}}>{{ template }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}
        </table>
        <div class="pull-right">
            <button id="al_template_changer" class="btn btn-primary" value="Change template">{{ "Change"|trans({}, common_domain, cms_language) }}</button> 
            <a href="#" id="al_close_dialog" class="btn" value="Change template">{{ "Close"|trans({}, common_domain, cms_language) }}</a> 
        </div>
        <div class="clearfix"></div>
        {% if error is defined and error != "" %}
        <div id="text-error" class="alert alert-error">{{ error }}</div>
        {% endif %}
    </form>
</div>

<script>
    $('#al_close_dialog').click(function(){
        $('#al_dialog').dialog('close');
    });
    
    $('#al_theme_changer_form').submit(function() {
      $.ajax({
          type: 'POST',
          url: frontController + 'backend/' + $('#al_available_languages option:selected').val() + '/al_changeTheme',
          data: {
              'themeName': '{{ themeName }}',
              'data' : $(this).serialize()
          },
          beforeSend: function()
          {
            $('body').AddAjaxLoader();
          },
          success: function(html)
          {
              $('body').showAlert(html);
              Navigate($('#al_languages_navigator').html(), $('#al_pages_navigator').html());
          },
          error: function(err)
          {
            $('#al_dialog').html(err.responseText);
          },
          complete: function()
          {
            $('body').RemoveAjaxLoader();
          }
      });

      return false;
    });
</script>
{% endblock %}
