{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'AlphaLemonCmsBundle:Themes:base.html.twig' %}

{% block theme_panel %}
<div>
    <div>
        <p><b>{{ "Finalizes the change of theme"|trans({}, themes_controller_domain, cms_language) }}</b></p>
        <p>{{ "A Partial finalization removes only the blocks added by the new theme and replaced by blocks from previous theme."|trans({}, themes_controller_domain, cms_language) }}</p>
        <p>{{ "A full finalization removes all the blocks saved from previous theme."|trans({}, themes_controller_domain, cms_language) }}</p>
    </div>
    <div class="pull-right">
        <button id="al-partial-finalizer" class="btn btn-info">{{ "Partial"|trans({}, themes_controller_domain, cms_language) }}</button>
        <button id="al-full-finalizer" class="btn btn-primary">{{ "Full"|trans({}, themes_controller_domain, cms_language) }}</button>
        <button id="al-close-finalizer" class="btn">{{ "Close"|trans({}, common_domain, cms_language) }}</button>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#al-close-finalizer').click(function(){
            $('#al_dialog').dialog('close');
        });
        
        $('#al-partial-finalizer').click(function() {
            finalize('partial');
        });
        
        $('#al-full-finalizer').click(function() {
            finalize('full');
        });
    });
        
    function finalize(action)
    {
        $.ajax({
          type: 'POST',
          url: frontController + 'backend/' + $('#al_available_languages option:selected').val() + '/al_finalizeTheme',
          data: {
            'page' :  $('#al_pages_navigator').html(),
            'language' : $('#al_languages_navigator').html(),
            'action': action
          },
          beforeSend: function()
          {
            $('body').AddAjaxLoader();
          },
          success: function(html)
          {
              $('body').showAlert(html);
          },
          error: function(err)
          {
            $('#al_dialog').html(err.responseText);
          },
          complete: function()
          {
            $('body').RemoveAjaxLoader();
          }
      });

      return false;
    }
</script>
{% endblock %}
