{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'AlphaLemonThemeEngineBundle:Themes:theme_skeleton.html.twig' %}

{% block theme_commands %}
<table>
    <tr>
        {% if theme_values.buttons is defined %}            
            <td><a id="al_theme_selector" href="{{ path('_preview_theme', {'languageName': app.request.get('language'), 'pageName': app.request.get('page'), 'themeName' : theme_values.theme_title}) }}" class="btn">{{ "Preview and Activate" | trans([], domain) }}</a></td>
            <td><a href="#" class="btn al_themes_fixer {themeName: '{{ theme_values.theme_title }}'}">{{ "Activate" | trans([], domain) }}</a></td>
            <td><a href="#" class="btn btn-danger al_start_from_theme {themeName: '{{ theme_values.theme_title }}'}">{{ "Start from this Theme" | trans([], domain) }}</a></td>
        {% endif %}
    </tr>
</table>
{% endblock %}