<ul class="column pull-left">
{% set number_of_items = 11 %}
{% set counter = 0 %}
{% for repeated, grouped_slots in slots %}
    <li><b>{{ repeated }}</b></li>
    {% for slotName, value in grouped_slots %}
    {% if counter == number_of_items - 1 %}
        </ul>
        <ul class="column pull-left">
        {% set counter = 0 %}
    {% endif %}
                
    {% set already_used = (value.used == 3) ? ' al-slot-used' : '' %}
    <li class="al-slot{{ already_used }}" data-content="{{ value.content }}" data-slot-name="{{ slotName }}"><a href="#">{{ slotName }}</a></li>
    {% set counter = counter + 1 %}
    {% endfor %}
{% endfor %}
</ul>
<div class="clearfix"></div>
<div class="pull-right">
    <button id="al-undo-slot-assignment" class="btn btn-info">{{ 'common_label_undo'|trans({}, 'RedKiteCmsBundle', cms_language) }}</button>
    <button id="al-save-slot-assignment" class="btn btn-primary">{{ 'common_label_save'|trans({}, 'RedKiteCmsBundle', cms_language) }}</button>
    <button id="al-close-slots-panel" class="btn btn-default">{{ 'common_label_close'|trans({}, 'RedKiteCmsBundle', cms_language) }}</button>
</div>
