{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'AlphaLemonCmsBundle:Panels:base.html.twig' %}

{% set domain = "al_languages" %}
{% set panel_class = 'al_panel_contents_width' %}   

{% block al_cms_header_inside %}
    <h1>{{ "Website's languages manager" | trans([], domain) }}</h1>
    <p>{{ "In this module you can manage the website's languages, adding new ones, or editing them or removing them from the site." | trans([], domain) }}</p>
{% endblock %}

{% block al_sidebar_middle_inside %}
<div id="al_languages" class="al_panel">

    {{ form_errors(form) }}

    <table id="al_attributes_form" border="0">
        <tr>
          <td colspan="4"><h2>{{ "Language attributes" | trans([], domain) }}</h2></td>
        </tr>
        <tr>
          <td>{{ form_label(form.language, "Language" | trans([], domain)) }}</td>
          <td colspan="3">{{ form_errors(form.language) }} {{ form_widget(form.language, { 'attr': {'class' : 'input select panel_input', 'title': "Choose the language" | trans([], domain)}}) }} </td>
        </tr>
        <tr>
          <td>{{ form_label(form.isMain, "Is Main" | trans([], domain)) }}</td>
          <td colspan="3">{{ form_errors(form.isMain) }} {{ form_widget(form.isMain, { 'attr': {'class' : 'input select panel_input', 'title': "When checked, promotes the language as the website's main language, which is the one displayed when any language has been given" | trans([], domain)}}) }}</td>
        </tr>
        <tr>
          <td>
            {{ form_rest(form) }}
          </td>
        </tr>
        <tr>
          <td colspan="4" align="right">
            <input id="al_language_saver" type="submit" value="{{ "Save" | trans([], "al_commands") }}" class="input panel_input button" />
          </td>
        </tr>
    </table>
</div>
{% endblock %}

{% block al_sidebar_right_inside %}
    <div id="al_pages_box" class="al_panel_box">
        <h3>{{ "Languages selector" | trans([], domain) }}</h3>
        <div id="al_languages_list"  class="al_panel_list">
            {% include 'AlphaLemonCmsBundle:Languages:languages_list.html.twig' %}
        </div>
    </div>
    <input id="al_languages_remover" class="al_float_right input panel_input button" type="submit" value="{{ "Delete" | trans([], "al_commands") }}" />
{% endblock %}
