{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'AlphaLemonCmsBundle:Panels:base.html.twig' %}

{% set cms_language = configuration.read('language') %}
{% set common_domain = cms_language ~ "_common" %}
{% set languages_controller_domain = cms_language ~ "_languages_controller" %}

{% set panel_class = 'al_panel_contents_width' %}   

{% block al_sidebar_middle_inside %}
<div id="al_languages" class="al_panel">
    {{ form_errors(form) }}
    <div>        
        <h2>{{ "Language attributes" | trans({}, languages_controller_domain, cms_language) }}</h2>
        <form id="al_languages_form" class="form-horizontal">
            <div class="control-group bootstrap-form-item-margin-fixer">
                {{ form_label(form.language, "Language"|trans({}, languages_controller_domain, cms_language), { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                {{ form_errors(form.language) }} {{ form_widget(form.language, { 'attr': {'title': "Choose the language"|trans({}, languages_controller_domain, cms_language) } }) }}
                </div>
            </div> 
            <div class="control-group">
                <label class="checkbox pull-right">                
                    {{ form_errors(form.isMain) }} {{ form_widget(form.isMain, { 'attr': {'title': "When checked, promotes the language as the website's main language, which is the one displayed when any language has been given"|trans({}, languages_controller_domain, cms_language) } }) }}
                    {{ form_label(form.isMain, "Is Main"|trans({}, languages_controller_domain, cms_language)) }}
                </label> 
            </div>
            {{ form_rest(form) }}
        </form>
        
        <input id="al_language_saver" type="submit" value="{{ "Save"|trans({}, common_domain, cms_language) }}" class="btn btn-primary pull-right" />       
    </div>
</div>
{% endblock %}

{% block al_sidebar_right_inside %}
    <div id="al_pages_box" class="al_panel_box">        
        <div class="al_panel_box_header">
            <span class="al_panel_box_header_title white-text-shadow">{{ "Languages selector"|trans({}, languages_controller_domain, cms_language) }}</span>
        </div>
        <div id="al_languages_list"  class="al_panel_list">
            {% include 'AlphaLemonCmsBundle:Languages:languages_list.html.twig' %}
        </div>
    </div>
    <input id="al_languages_remover" class="btn btn-danger pull-right" type="submit" value="{{ "Delete" | trans({}, common_domain, cms_language) }}" />
{% endblock %}
