{#
   This file is part of the RedKiteCmsBunde Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) RedKite Labs <webmaster@redkite-labs.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.redkite-labs.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'RedKiteCmsBundle:Panels:base.html.twig' %}

{% form_theme form 'RedKiteCmsBundle:Bootstrap:' ~ bootstrap_version ~ '/FormTheme/forms.html.twig' %}

{% set cms_language = configuration.read('language') %}

{% set panel_class = 'al_panel_contents_width' %}   

{% block al_sidebar_middle_inside %}
<div id="al_languages" class="al_panel">
    {{ form_errors(form) }}
    <div>        
        <h2>{{ "languages_controller_language_attribute" | trans({}, 'RedKiteCmsBundle', cms_language) }}</h2>
        <form id="al_languages_form" {#class="form-horizontal"#}>
            {{ form(form) }}
        </form>
        
        <input id="al_language_saver" type="submit" value="{{ "common_label_save"|trans({}, 'RedKiteCmsBundle', cms_language) }}" class="btn btn-primary pull-right" />       
    </div>
</div>
{% endblock %}

{% block al_sidebar_right_inside %}
    <div id="al_pages_box" class="al_panel_box">        
        <div class="al_panel_box_header">
            <span class="al_panel_box_header_title white-text-shadow">{{ "languages_controller_languages_selector"|trans({}, 'RedKiteCmsBundle', cms_language) }}</span>
        </div>
        <div id="al_languages_list"  class="al_panel_list">
            {% include 'RedKiteCmsBundle:Languages:languages_list.html.twig' %}
        </div>
    </div>
    <input id="al_languages_remover" class="btn btn-danger pull-right" type="submit" value="{{ "Delete" | trans({}, 'RedKiteCmsBundle', cms_language) }}" />
{% endblock %}
