<div class="al-blocks-menu al_blocks_list al_floating_panel">
    {% for items in blocks %}
    <div class="column pull-left">
    {% for item in items %}
        <ul class="blocks-list">
            {%  if item.isHeader %}
            <li class="al_block_header">{{ item.getLabel }}</li>
            {% else %}
            <li><a href="#" rel="{{ item.getBlockType }}" class="al_block_adder" data-filter="{{ item.getFilter }}">{{ item.getLabel }}</a></li>
            {% endif %}
        </ul>
    {% endfor %}
    </div>
    {% endfor %}
    <div class="clearfix"></div>
    <div>
        <a class="al_close_block_menu btn btn-default pull-right">{{ 'common_label_close'|trans({}, 'RedKiteCmsBundle', cms_language) }}</a>
    </div>
</div>