 {#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% set form_title = title is defined ? title : "AlphaLemon CMS Login" %} 
{% set form_body= body is defined ? body : "Please authenticate yourself to manage the website with AlphaLemon CMS" %} 

<h1>{{ form_title }}</h1>
<p>{{ form_body }}</p>

{% if error %}
    <div class="text-error">{{ error }}</div>
{% endif %}

{% set login_route = route is defined ? route : "_login_check" %}  
    
<div id="al_login_form">
    <form action="{{ path(login_route) }}" method="post" id="login">

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" />
        </div>

        {% if target is defined %}
        <input type="hidden" name="_target_path" value="{{ target }}" />
        {% endif %}

        <input type="submit" class="symfony-button-grey" value="LOGIN" />
    </form>
</div>
