{#
   This file is part of the BusinessSliderBundle and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'AlphaLemonCmsBundle:Item:_languages_support.html.twig' %}

{% form_theme form 'AlphaLemonCmsBundle:Item:_form_label.html.twig'  %}

{% block content %}
{% if widget_class is not defined %}
{% set widget_class = 'al_form_item' %}
{% endif %}
{% for item in form %}
    {% if ("hidden" not in item.vars.block_prefixes) %}
    <tr>
        <td>{{ form_label(item, null, {'cms_language': cms_language}) }}</td>
        <td>{{ form_errors(item) }}
        {% if ("textarea" in item.vars.block_prefixes) %}
            {{ form_widget(item, { 'attr': {'rows' : 4, 'class' : 'textarea ' ~ widget_class }}) }}
        {% else %}
            {{ form_widget(item, { 'attr': {'class' : 'input-medium ' ~ widget_class }}) }}
        {% endif %}
        </td>
    </tr>
    {% endif %}
{% endfor %}
{{ form_rest(form) }}
{% endblock %}
