{% extends 'RedKiteCmsBundle:Bootstrap:' ~ bootstrap_version ~ '/base.html.twig' %}

{% form_theme form 'RedKiteCmsBundle:Bootstrap:' ~ bootstrap_version ~ '/FormTheme/forms.html.twig' %}

{% block body %}
<form id="al_item_form">
    <table>
        <tr>
            <td>{{ form_label(form.src) }}</td>
            <td valign="top">                 
                <button class="btn btn-default rk-upload-image">{{ upload_icon|raw }} {{ "common_label_load"|trans({}, 'RedKiteCmsBaseBlocksBundle', cms_language) }}</button>
            </td>
            <td>                
                {{ form_errors(form.src) }} {{ form_widget(form.src) }}
            </td>
        </tr>
        <tr>
            <td>{{ form_label(form.title) }}</td>
            <td colspan="2">                
                {{ form_errors(form.title) }} {{ form_widget(form.title) }}
            </td>
        </tr>
        <tr>
            <td>{{ form_label(form.alt) }}</td>
            <td colspan="2">                
                {{ form_errors(form.alt) }} {{ form_widget(form.alt) }}
            </td>
        </tr>
        <tr>
            <td>{{ form_label(form.href) }}</td>
            <td class="al_pages_selector"></td>
            <td>{{ form_errors(form.href) }} {{ form_widget(form.href) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(form.file) }}</td>
            <td valign="top">                
                <button class="btn btn-default rk-upload-file">{{ upload_icon|raw }} {{ "common_label_load"|trans({}, 'RedKiteCmsBaseBlocksBundle', cms_language) }}</button>
            </td>
            <td>                
                {{ form_errors(form.file) }} {{ form_widget(form.file) }}
            </td>
        </tr>
        <tr>
            <td>{{ form_label(form.class) }}</td>
            <td colspan="2">                
                {{ form_errors(form.class) }} {{ form_widget(form.class) }}
            </td>
        </tr>
        {{ form_rest(form) }}
    </table>
</form>
{% endblock %}