{#
   This file is part of the AlphaLemonCMS InstallerBundle and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code. 

   For extra documentation and help please visit http://www.alphalemon.com 

   @license    GPL LICENSE Version 2.0
#}

{% extends 'AlphaLemonFrontendBundle:Theme:base.html.twig' %}
{% form_theme form "AlphaLemonCmsInstallerBundle::Installer/form.html.twig" %}

{% block external_stylesheets %}
{% endblock %}
{% block external_javascripts %}
    {% javascripts  filter='?yui_js' '@AlphaLemonThemeEngineBundle/Resources/public/js/vendor/jquery/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block internal_header_stylesheets %}
    <script>
    $(document).ready(function(){ 
        
        setByDriver($('#alphalemon_cms_parameters_driver').val());
        $('#alphalemon_cms_parameters_driver').change(function(){            
            
            setByDriver($(this).val());
            return false;
        });
        
        function setByDriver(driver) {
            switch(driver) {
                case 'mysql':
                    showStandardDbParams();
                    $('#alphalemon_cms_parameters_port').val('3306');
                    break;
                case 'pgsql':
                    showStandardDbParams();
                    $('#alphalemon_cms_parameters_port').val('5432');
                    break;
                default:
                    showDsnDbParams();
                    break;
            }
        }

        function showDsnDbParams() {
            $('#al_db_standard_section').hide();
            $('#al_db_dsn_section').show();
        }
        
        function showStandardDbParams() {
            $('#alphalemon_cms_parameters_dsn').val('');
            $('#al_db_standard_section').show();
            $('#al_db_dsn_section').hide();
        }
    });
    </script>
{% endblock %}

{% block body %}
<form action="{{ path('_install') }}" method="POST">
    {% if app.session.hasFlash('error') %}
    <div id="al_process_errors">
        {{ app.session.flash('error') }}
    </div>
    {% endif %}
    <div>
        <h2>Bundle data</h2>
        AlphaLemon CMS requires a ...
    </div>
    <div id="al_bundle_section">
        {{ form_row(form.company) }}
        {{ form_row(form.bundle) }}
    </div>
    <div>
        <h2>Database</h2>
    </div>
    <div>
        {{ form_row(form.driver) }}
    </div>
    <div id="al_db_standard_section">
        {{ form_row(form.host) }}
        {{ form_row(form.database) }}
        {{ form_row(form.port) }}
        {{ form_row(form.user) }}
        {{ form_row(form.password) }}
    </div>
    <div id="al_db_dsn_section" style="display:none">
        {{ form_row(form.dsn) }}
    </div>
    <div id="al_dsn_section">
        {{ form_rest(form) }}
    </div>
    <div>
        <input type="submit" value="install" />
    </div>
</form>
{% endblock %}