{#
   This file is part of the RedKiteCmsCMS InstallerBundle and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) RedKiteCms <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.redkite-labs.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'RedKiteCmsInstallerBundle:Installer:main.html.twig' %}
{% form_theme form "RedKiteCmsInstallerBundle::Installer/form.html.twig" %}

{% block external_javascripts %}
<script src="{{ asset('bundles/alphalemoncmsinstaller/js/jquery-last.min.js') }}"></script>
{% endblock %}

{% block internal_header_stylesheets %}
    <script>
    $(document).ready(function(){

        setByDriver($('#red_kite_cms_parameters_driver').val());
        $('#red_kite_cms_parameters_driver').change(function(){

            setByDriver($(this).val());
            return false;
        });

        function setByDriver(driver) {
            switch(driver) {
                case 'mysql':
                    showStandardDbParams();
                    $('#red_kite_cms_parameters_port').val('3306');
                    break;
                case 'pgsql':
                    showStandardDbParams();
                    $('#red_kite_cms_parameters_port').val('5432');
                    break;
                default:
                    showDsnDbParams();
                    break;
            }
        }

        function showDsnDbParams() {
            $('#al_db_standard_section').hide();
            $('#al_db_dsn_section').show();
        }

        function showStandardDbParams() {
            $('#red_kite_cms_parameters_dsn').val('');
            $('#al_db_standard_section').show();
            $('#al_db_dsn_section').hide();
        }
    });
    </script>
{% endblock %}

{% block contents %}
<h1>RedKiteCmsCMS Web-Installer interface</h1>
<div>
    <p>
        Welcome to RedKiteCms CMS installer. Please fill the form below to install RedKiteCms CMS.
    </p>
</div>
<div>
    <form action="{{ path('_install') }}" method="POST">
        {% if app.session.getFlashBag().has('error') %}
        <div id="al_process_errors">
            <h2>Ops. Something was wrong</h2>
            <p>{{ app.session.getFlashBag().has('error') }}</p>
        </div>
        {% endif %}
        <div>
            <h2>Bundle data</h2>
            <p>
            RedKiteCms CMS requires a bundle where RedKiteCms CMS will save the contents you insert. Every time
            you start a new Symfony2 project you always create a new bundle where your application lives: this is
            the bundle required by RedKiteCms CMS.
            </p>
        </div>
        <div id="al_bundle_section">
            <div class="al_column">
            {{ form_row(form.company) }}
            </div>
            <div class="al_column">
            {{ form_row(form.bundle) }}
            </div>
            <div class="al_clear"></div>
        </div>
        <div>
            <h2>Database</h2>
            <p>
            Please provide the information required to access your database
            </p>
        </div>
        <div>
            {{ form_row(form.driver) }}
        </div>
        <div id="al_db_standard_section">
            <div class="al_column">
            {{ form_row(form.host) }}
            {{ form_row(form.database) }}
            {{ form_row(form.port) }}
            </div>
            <div class="al_column">
            {{ form_row(form.user) }}
            {{ form_row(form.password) }}
            </div>
            <div class="al_clear"></div>
        </div>
        <div id="al_db_dsn_section" style="display:none">
            {{ form_row(form.dsn) }}
        </div>
        <div id="al_dsn_section">
            {{ form_rest(form) }}
        </div>
        <div>
            <p>* Required field</p>
            <input type="submit" value="install" />
        </div>
    </form>
</div>
{% endblock %}
