{% extends "AlphaLemonCmsBundle:Editor:base_editor.html.twig" %}

{% block body %}
<ul class="thumbnails al-data-list" {{ editor|raw }}>
    {% if values|length > 0 %}
    {% for key, thumbnail in values %}
    {% set baseSlotName = parent.getId ~ "-" ~ key %} 
    
    {% set attributes = 'data-item=' ~ key ~ ' data-slot-name=' ~ baseSlotName %}
    {{ renderIncludedBlock(baseSlotName, parent, thumbnail.type, true, "", attributes) }}    
    
    {#
    <li{% if image.width is defined and image.width != "none" %} class="{{ image.width }}"{% endif %} data-item="{{ key }}" data-slot-name="{{ baseSlotName }}">
        <div class="thumbnail">
            {% set blockSlotName = baseSlotName ~ "-0" %}  
            {{ renderIncludedBlock(blockSlotName, parent, "Image", true) }}
            <div class="caption">
                {% set blockSlotName = baseSlotName ~ "-1" %}   
                {{ renderIncludedBlock(blockSlotName, parent, "Text", true) }}
            </div>
            <div class="widget-footer">
                {% set blockSlotName = baseSlotName ~ "-2" %}   
                {{ renderIncludedBlock(blockSlotName, parent, "BootstrapButtonBlock", true) }}
            </div>
        </div>
    </li>
    #}
    {% endfor %}
    {% else %}
    <li class="al-empty">Any item added</li>
    {% endif %}
</ul>
{% endblock %}
