<div class="al_items_list">
    <table>
    {% for user in users %}
        <tr class="{{ cycle(['alternate_row', 'row'], loop.index) }}">
            <td width="100%">{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td><a href="#" rel="{{ user.id }}" class="al_edit_user">Edit</a></td>

            <td>
                {% if(user.id != app.security.getToken().getUser().getPrimaryKey()) %}
                <a href="#" class="al_delete_user" rel="{{ user.id }}">Delete</a>
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
<div class="al_security_commands_box">
    <ul>
        <li><input type="submit" value="New" class="al_add_user input button al_large" /></li>
        <li><input type="submit" value="Roles" class="al_list_roles input button al_large" /></li>
    </ul>
</div>
