{% extends 'RedKiteCmsBundle:Bootstrap:' ~ bootstrap_version ~ '/base.html.twig' %}

{% block body %}
<div class="al_security_list">
    <h2>{{ "security_controller_label_roles_management"|trans({}, 'RedKiteCmsBundle', cms_language) }}</h2>
    <table class="table">
        <thead>
            <th>{{ "security_controller_label_rolename"|trans({}, 'RedKiteCmsBundle', cms_language) }}</th>
        </thead>
    {% for role in roles %}
        <tr><td width="100%">{{ role.role }}</td><td><a href="#" rel="{{ role.id }}" class="al_edit_role">{{ "common_label_edit"|trans({}, 'RedKiteCmsBundle', cms_language) }}</a></td>
        <td><a href="#" class="al_delete_role" rel="{{ role.id }}">{{ "common_label_delete"|trans({}, 'RedKiteCmsBundle', cms_language) }}</a></td></tr>
    {% endfor %}
    </table>
</div>
<div class="al_security_commands_box">
    <ul class="{{ list_inline }} pull-right">
        <li><input type="submit" value="{{ "common_label_new"|trans({}, 'RedKiteCmsBundle', cms_language) }}" class="al_add_role btn btn-primary" /></li>
        <li><input type="submit" value="{{ "security_controller_label_users"|trans({}, 'RedKiteCmsBundle', cms_language) }}" class="al_list_users btn btn-info" /></li>
    </ul>
    <div class="clearfix"></div>
</div>
{% endblock %}
