{% extends 'RedKiteCmsBundle:Bootstrap:' ~ bootstrap_version ~ '/base.html.twig' %}

{% form_theme form 'RedKiteCmsBundle:Bootstrap:' ~ bootstrap_version ~ '/FormTheme/forms.html.twig' %}

{% block body %}
<div class="al_security_item">    
    <h2>{{ "security_controller_label_manage_user"|trans({}, 'RedKiteCmsBundle', cms_language) }}</h2>
    <form class="al_security_form">
        <div id="al_user_data">
            {{ form(form) }}
        </div>
    </form>

    {% if message is defined %}
    <div id="al_message" class="text-info">
        {{ message }}
    </div>
    {% endif %}

    <div class="al_security_commands_box">
        <ul class="{{ list_inline }} pull-right">
            <li><input type="submit" id="al_save_user" value="{{ "common_label_save"|trans({}, 'RedKiteCmsBundle', cms_language) }}" class="input btn btn-primary" /></li>
            <li><input type="submit" value="{{ "security_controller_label_users"|trans({}, 'RedKiteCmsBundle', cms_language) }}" class="al_list_users btn btn-info" /></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div id="text-error" class="text-error">
        {% for error in errors %}
        <p><strong>{{ error.getMessage() }}</strong></p>
        {% endfor %}
    </div>
</div>

<script>
    $('#al_save_user').click(function() {
      // Required for resources locking
      var userId = $('#al_user_id').val();
      if (userId == null || userId == '') {
          userId = 0;
      }
      
      $.ajax({
          type: 'POST',
          url: frontController + 'backend/users/' + $('#al_available_languages option:selected').val() + '/al_showUser',
          data: {'id' : userId,
                 'al_username' : $('#al_user_username').val(),
                 'al_password' : $('#al_user_password').val(),
                 'al_email' : $('#al_user_email').val(),
                 'al_role_id' : $('#al_user_AlRole').val()
             },
          beforeSend: function()
          {
            $('body').AddAjaxLoader();
          },
          success: function(html)
          {
            $('#al_panel_contents').html(html);
            ObserveSecurity();
          },
          error: function(err)
          {
            $('#text-error').html(err.responseText);
          },
          complete: function()
          {
            $('body').RemoveAjaxLoader();
          }
      });

      return false;
    });

    $('.al_list_users').ListUsers();
</script>
{% endblock %}
