{% extends 'RedKiteCmsBundle:Bootstrap:' ~ bootstrap_version ~ '/base.html.twig' %}

{% block body %}
<div class="al_security_list">
    <h2>{{ "security_controller_label_users_management"|trans({}, 'RedKiteCmsBundle', cms_language) }}</h2>
    <table class="table">
        <thead>
            <th>{{ "security_controller_label_username"|trans({}, 'RedKiteCmsBundle', cms_language) }}</th>
            <th>{{ "security_controller_label_email"|trans({}, 'RedKiteCmsBundle', cms_language) }}</th>
        </thead>
    {% for user in users %}
        <tr>
            <td width="50%">{{ user.username }}</td>
            <td width="30%">{{ user.email }}</td>
            <td><a href="#" rel="{{ user.id }}" class="al_edit_user">{{ "common_label_edit"|trans({}, 'RedKiteCmsBundle', cms_language) }}</a></td>

            <td>
                {% if(user.id != app.security.getToken().getUser().getPrimaryKey()) %}
                <a href="#" class="al_delete_user" rel="{{ user.id }}">{{ "common_label_delete"|trans({}, 'RedKiteCmsBundle', cms_language) }}</a>
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
<div class="al_security_commands_box">
    <ul class="{{ list_inline }} pull-right">
        <li><input type="submit" value="{{ "common_label_new"|trans({}, 'RedKiteCmsBundle', cms_language) }}" class="al_add_user btn btn-primary" /></li>
        <li><input type="submit" value="{{ "security_controller_label_roles"|trans({}, 'RedKiteCmsBundle', cms_language) }}" class="al_list_roles btn btn-info" /></li>
    </ul>
    <div class="clearfix"></div>
</div>
{% endblock %}
