{% extends base_template %}

{% use 'BootbusinessThemeBundle:Slots:slots.html.twig' %}


{% block external_stylesheets %}
    {% stylesheets  filter='cssrewrite' 'components/redkitecms/twitter-bootstrap/2.x/css/bootstrap.min.css' 
                                                 'components/redkitecms/twitter-bootstrap/2.x/css/bootstrap-responsive.min.css'
    %}        
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block post_external_stylesheets %}
    {% stylesheets  filter='cssrewrite' 'bundles/bootbusinesstheme/css/font-awesome.css' 
                                                 'bundles/bootbusinesstheme/css/font-awesome-ie7.css'
                                                 'bundles/bootbusinesstheme/css/boot-business.css'
    %}        
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block external_javascripts %}
    {% javascripts 'components/jquery/jquery.min.js' 
                                     'components/redkitecms/twitter-bootstrap/2.x/js/bootstrap.min.js' 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
        
{% block internal_header_stylesheets %}
    {{ parent() }}
        
    <style>
        .redkite-love a {
            color: white;
            font-weight: bold;
        }
    </style>
{% endblock %}

        
        
{% block body %}
<header>
{{ block('navbar') }} 
</header>
{% block contents %}
{% endblock %}
<footer>
  <div class="container">
    <div class="row">
      <div class="span2">
        {{ block('footer_title_1') }} 
        <nav>
            {{ block('footer_body_1') }} 
        </nav>
        {{ block('footer_title_2') }} 
        <nav>
            {{ block('footer_body_2') }} 
        </nav>
      </div>
      <div class="span2">
        {{ block('footer_title_3') }}
        <nav>
            {{ block('footer_body_3') }} 
        </nav>          
      </div>
      <div class="span2">
        {{ block('footer_title_4') }}
        <nav>
            {{ block('footer_body_4') }} 
        </nav>
        {{ block('footer_title_5') }}
        <nav>
            {{ block('footer_body_5') }}
        </nav>            
      </div>
      <div class="span3">
        {{ block('footer_title_6') }}
        <div class="social-icons-row">
            {{ block('footer_social_1') }}                     
        </div>
        <div class="social-icons-row">
            {{ block('footer_social_2') }}               
        </div>
        <div class="social-icons-row">
            {{ block('footer_social_3') }}            
        </div>
      </div>      
      <div class="span3">
        {{ block('contacts_title_1') }} 
        {{ block('contacts_body_1') }} 
      </div>
    </div>
  </div>
  <hr class="footer-divider">
  <div class="container">
    <div class="pull-left">
        {{ block('coopyright') }}          
    </div>
    <div class="pull-right redkite-love">
    {{ block('redkitecms_love') }} 
    </div>
  </div>
</footer>
{% endblock %}
