{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends template %}

{% block internal_header_javascripts %}
{{ parent() }}
<script>
    function cmsStartInternalJavascripts(){
        try
        {
            {{ internal_javascripts|raw }}
        }
        catch(e)
        {
            alert(e);
        }
    }

    $(document).ready(function()
    {
        frontController = '{{ frontController }}';

        tl.pg.init(
            {
                "pg_caption": "Help"
            }
        ); 
        
        cmsStartInternalJavascripts();
        CKEDITOR.disableAutoInline = true;
    });
</script>
{% endblock %}

{% block internal_header_stylesheets %}
    {{ parent() }}
    <style>
    {{ internal_stylesheets|raw }}
    </style>
{% endblock %}

{% block external_stylesheets %}

    {{ parent() }}

    {% for value in templateStylesheets %}
    <link href="{{ asset(value) }}" rel="stylesheet" type="text/css" media="all" />
    {% endfor %}
{% if enable_yui_compressor is defined and enable_yui_compressor %}
    {% stylesheets filter='?yui_css,cssrewrite' 'components/alphalemoncms/jquery-ui/themes/smoothness/*'
                                                'components/alphalemoncms/twitter-bootstrap/css/bootstrap.min.css'
                                                'components/pageguide/css/pageguide.min.css'
                                                'bundles/alphalemoncms/vendor/vendor-adapter.css' 
                                                'bundles/alphalemoncms/css/skins/bootstrap/skin.css'
    %} 
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all" />
    {% endstylesheets %}
{% else %}
    {% stylesheets filter='?cssrewrite' 'components/alphalemoncms/jquery-ui/themes/smoothness/*'
                                        'components/alphalemoncms/twitter-bootstrap/css/bootstrap.min.css'
                                        'components/pageguide/css/pageguide.min.css'
                                        'bundles/alphalemoncms/vendor/vendor-adapter.css' 
                                        'bundles/alphalemoncms/css/skins/bootstrap/skin.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen" />
    {% endstylesheets %}
{% endif %}

{% endblock %}

{% block external_javascripts %}
    {{ parent() }}
    {% if enable_yui_compressor is defined and enable_yui_compressor %}
    {% javascripts  filter='?yui_js' 'components/jquery/jquery.min.js'
                                     'components/alphalemoncms/jquery-ui/js/jquery-ui.min.js'
                                     'components/alphalemoncms/twitter-bootstrap/js/bootstrap.js'
                                     'components/sydcanem-bootstrap-contextmenu/bootstrap-contextmenu.js'
                                     'components/jquery-easing/jquery.easing.min.js'
                                     'components/jquery-metadata/jquery.metadata.js'
                                     'components/pageguide/js/pageguide.min.js'
                                     'components/holderjs/holder.js'
                                     'bundles/alphalemoncms/js/*' 
    %} 
    
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% else %}
    {% javascripts  'components/jquery/jquery.min.js'
                    'components/alphalemoncms/jquery-ui/js/jquery-ui.min.js'
                    'components/alphalemoncms/twitter-bootstrap/js/bootstrap.min.js'
                    'components/sydcanem-bootstrap-contextmenu/bootstrap-contextmenu.js'
                    'components/jquery-easing/jquery.easing.min.js'
                    'components/jquery-metadata/jquery.metadata.js'
                    'components/pageguide/js/pageguide.min.js'
                    'components/holderjs/holder.js'
                    'bundles/alphalemoncms/js/*' 
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}
    
    {% for value in templateJavascripts %}
    <script src="{{ asset(value) }}"></script>
    {% endfor %}
{% endblock %}

{% block body %}
<div id="al_control_panel">
    <div id="al_control_panel_body">
        <div id="al_commands" class="pull-left">
            <ul class="inline al-brand pull-left">
                <li>AlphaLemon CMS</li>
            </ul>
            <ul class="inline al-commands pull-left">
                <li><a href="#" id="al_open_pages_panel">Pages</a></li>
                <li><a href="#" id="al_open_languages_panel">Languages</a></li>
                <li><a href="#" id="al_open_themes_panel">Themes</a></li>
                <li><a href="#" id="al_open_media_library">Media Library</a></li>
                <li><a href="#" class="al_deployer" rel="stage">Deploy Stage</a></li>
                <li><a href="#" class="al_deployer" rel="local">Deploy Prod</a></li>
                {% if is_secure %}
                <li><a href="#" id="al_open_users_manager">Users</a></li>
                <li><a href="#" id="al_logout">Logout</a></li>
                {% endif %} 
            </ul>
        </div>
        <div id="al_languages" class="pull-right"> 
            {% include 'AlphaLemonCmsBundle:Cms:menu_combo.html.twig' with {'id': 'al_available_languages', 'items' : available_languages}  %}
            {# include 'AlphaLemonCmsBundle:Cms:menu_dropdown.html.twig' with {'id': 'al_available_languages', 'items' : available_languages, 'text' : 'English', 'value' : 'en', 'button_type' : 'btn-primary', 'type' : 'al_site_language_item'}  #}
        </div>
    </div>
    <div class="clearfix"></div>    
</div>


<div id="al_tab">
    <div class="al_tab al_tab_open">&nbsp;</div>
    <div class="al_tab al_tab_close" style="display: none">&nbsp;</div>
</div>
    
<div id="al_main_commands">
    <div id="al_toggle_edit_buttons">
        <a href="#" id="al_start_editor">
            <span class="al_img_edit al_tab_text pull-left"><p>Edit</p></span>
        </a>
        <a href="#" id="al_stop_editor" style="display: none">
            <span class="al_img_stop_edit al_tab_text pull-left"><p>Stop</p></span>
        </a>
        <div class="clearfix"></div>    
    </div>
        
    <div>
        <div id="al_toggle_nav_button" class="pull-left">
            <ul class="inline al-navigation">
                <li>{% include 'AlphaLemonCmsBundle:Cms:menu_dropdown.html.twig' with {'id': 'al_languages_navigator', 'items' : languages, 'text' : language_name, 'value' : language, 'type' : 'al_language_item'}  %}</li>
                <li>{% include 'AlphaLemonCmsBundle:Cms:menu_dropdown.html.twig' with {'id': 'al_pages_navigator', 'items' : pages, 'text' : page_name, 'value' : page, 'type' : 'al_page_item'}  %}</li>                
            </ul>
        </div>
        <div class="pull-left">
            <a href="#" id="al_show_navigation">
                <span class="al_img_nav pull-left al_tab_text"><p>Nav</p></span>
            </a>
        </div>
    </div>
</div>
   
<div id="al_block_menu_top" class="al_block_menu"></div>
<div id="al_block_menu_bottom" class="al_block_menu"></div>
<div id="al_block_menu_left" class="al_block_menu"></div>    
<div id="al_block_menu_right" class="al_block_menu"></div>    

<div id="al_panel"></div>
<div id="al_block_menu_toolbar" class="pull-right">
    <ul class="inline">
        <li><a id="al_block_menu_add" href="#"><img src="/bundles/alphalemoncms/css/skins/bootstrap/images/block_menu/add.png" /></a></li>
        <li><a id="al_block_menu_move" href="#"><img src="/bundles/alphalemoncms/css/skins/bootstrap/images/block_menu/move.png" /></a></li>
        <li><a id="al_block_menu_delete" href="#"><img src="/bundles/alphalemoncms/css/skins/bootstrap/images/block_menu/delete.png" /></a></li>
    </ul>    
</div>


{% include "AlphaLemonCmsBundle:Cms:AvailableBlocks/available_blocks.html.twig" with {'blocks': available_blocks} %}

<div id="al_cms_contents" class="{page: '{{ page }}', language: '{{ language }}'}">
{{ parent() }}
</div>

{% include "AlphaLemonCmsBundle:Cms:PageGuide/_help.html.twig" %}

{% endblock %}
