{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends template %}

{% set cms_language = configuration.read('language') %}
{% set common_domain = cms_language ~ "_common" %}
{% set cms_controller_domain = cms_language ~ "_cms_controller" %}

{% block internal_header_javascripts %}
{{ parent() }}
<script>
    function cmsStartInternalJavascripts(){
        try
        {
            {{ internal_javascripts|raw }}
        }
        catch(e)
        {
            alert(e);
        }
    }

    $(document).ready(function()
    {
        frontController = '{{ frontController }}';        
        cmsStartInternalJavascripts();
        //CKEDITOR.disableAutoInline = true;
    });
</script>
{% endblock %}

{% block internal_header_stylesheets %}
    {{ parent() }}
    <style>
    {{ internal_stylesheets|raw }}
    </style>
{% endblock %}

{% block external_stylesheets %}
    {% if enable_yui_compressor is defined and enable_yui_compressor %}
        {% stylesheets filter='?yui_css,cssrewrite' 'components/alphalemoncms/jquery-ui/themes/smoothness/*'
                                                    'components/alphalemoncms/twitter-bootstrap/css/bootstrap.min.css'
                                                    'components/alphalemoncms/twitter-bootstrap/css/bootstrap-responsive.min.css'
                                                    'bundles/alphalemoncms/vendor/vendor-adapter.css' 
                                                    'bundles/alphalemoncms/css/skins/bootstrap/skin.css'
                                                    'bundles/alphalemonelfinder/vendor/ElFinder/vendor/jquery-ui.css'
                                                    'bundles/alphalemonelfinder/vendor/ElFinder/css/elfinder.min.css'
                                                    'bundles/alphalemonelfinder/vendor/ElFinder/css/theme.css'
        %} 
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all" />
        {% endstylesheets %}
    {% else %}
        {% stylesheets filter='?cssrewrite' 'components/alphalemoncms/jquery-ui/themes/smoothness/*'
                                            'components/alphalemoncms/twitter-bootstrap/css/bootstrap.min.css'
                                            'components/alphalemoncms/twitter-bootstrap/css/bootstrap-responsive.min.css'
                                            'bundles/alphalemoncms/vendor/vendor-adapter.css' 
                                            'bundles/alphalemoncms/css/skins/bootstrap/skin.css'
                                            'bundles/alphalemonelfinder/vendor/ElFinder/vendor/jquery-ui.css'
                                            'bundles/alphalemonelfinder/vendor/ElFinder/css/elfinder.min.css'
                                            'bundles/alphalemonelfinder/vendor/ElFinder/css/theme.css'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen" />
        {% endstylesheets %}
    {% endif %}
    
    {% for value in templateStylesheets %} 
    <link href="{{ asset(value) }}" rel="stylesheet" type="text/css" media="all" />
    {% endfor %}    
{% endblock %}

{% block external_javascripts %}
    <script src="{{ asset('bundles/alphalemoncms/js/lang/' ~ cms_language ~ '.js') }}"></script>
    
    {% if enable_yui_compressor is defined and enable_yui_compressor %}
    {% javascripts  filter='?yui_js' 'components/jquery/jquery.min.js'
                                     'components/alphalemoncms/jquery-ui/js/jquery-ui.min.js'
                                     'components/alphalemoncms/twitter-bootstrap/js/bootstrap.js'
                                     'components/sydcanem-bootstrap-contextmenu/bootstrap-contextmenu.js'
                                     'components/jquery-easing/jquery.easing.min.js'
                                     'components/jquery-metadata/jquery.metadata.js'
                                     'components/holderjs/holder.js'
                                     'bundles/alphalemonelfinder/vendor/ElFinder/js/elfinder.min.js'
                                     'bundles/alphalemoncms/js/*' 
    %} 
    
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% else %}
    {% javascripts  'components/jquery/jquery.min.js'
                    'components/alphalemoncms/jquery-ui/js/jquery-ui.min.js'
                    'components/alphalemoncms/twitter-bootstrap/js/bootstrap.min.js'
                    'components/sydcanem-bootstrap-contextmenu/bootstrap-contextmenu.js'
                    'components/jquery-easing/jquery.easing.min.js'
                    'components/jquery-metadata/jquery.metadata.js'
                    'components/holderjs/holder.js'
                    'bundles/alphalemonelfinder/vendor/ElFinder/js/elfinder.min.js'
                    'bundles/alphalemoncms/js/*' 
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}
    
    {% for value in templateJavascripts %}
    <script src="{{ asset(value) }}"></script>
    {% endfor %}
{% endblock %}

{% block body %}
<div id="al_control_panel">
    <div id="al_control_panel_body">
        <div id="al_commands" class="pull-left">
            <ul class="inline al-brand pull-left">
                <li>AlphaLemon CMS</li>
            </ul>
            <ul class="inline al-commands pull-left">
                <li><a href="#" id="al_open_pages_panel" rel="tooltip" title="{{ 'Opens the panel to add, modify, delete pages from the website'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Pages'|trans({}, cms_controller_domain, cms_language) }}</a></li>
                <li><a href="#" id="al_open_languages_panel" rel="tooltip" title="{{ 'Opens the panel to add, modify, delete languages from the website'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Languages'|trans({}, cms_controller_domain, cms_language) }}</a></li>
                <li><a href="#" id="al_open_themes_panel" rel="tooltip" title="{{ 'Opens the panel to manage the website themes'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Themes'|trans({}, cms_controller_domain, cms_language) }}</a></li>
                <li><a href="#" id="al_open_media_library" rel="tooltip" title="{{ 'Opens the media library to upload, edit and remove external assets'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Media Library'|trans({}, cms_controller_domain, cms_language) }}</a></li>
                <li><a href="#" class="al_deployer" rel="stage" rel="tooltip" title="{{ 'Deploys the website for stage environment'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Deploy Stage'|trans({}, cms_controller_domain, cms_language) }}</a></li>
                <li><a href="#" class="al_deployer" rel="local" rel="tooltip" title="{{ 'Deploys the website for production'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Deploy Prod'|trans({}, cms_controller_domain, cms_language) }}</a></li>
                {% if is_secure %}
                <li><a href="#" id="al_open_users_manager" rel="tooltip" title="{{ 'Opens the panel to add, modify, delete users from the website'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Users'|trans({}, cms_controller_domain, cms_language) }}</a></li>
                <li><a href="#" id="al_logout" rel="tooltip" title="{{ 'Logs out from AlphaLemon CMS'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Logout'|trans({}, cms_controller_domain, cms_language) }}</a></li>
                {% endif %} 
            </ul>
        </div>
        <div id="al_languages" class="pull-right"> 
            {% include 'AlphaLemonCmsBundle:Cms:menu_combo.html.twig' with {'id': 'al_available_languages', 'items' : available_languages, 'selected' : cms_language}  %}
        </div>
    </div>
    <div class="clearfix"></div>    
</div>

<div id="al_tab">
    <div class="al_tab al_tab_open">&nbsp;</div>
    <div class="al_tab al_tab_close" style="display: none">&nbsp;</div>
</div>
    
<div id="al_main_commands">
    <div id="al_toggle_edit_buttons">
        <a href="#" id="al_start_editor">
            <span class="al_img_edit al_tab_text pull-left"><p rel="tooltip" title="{{ 'Edits the current page'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Edit'|trans({}, cms_controller_domain, cms_language) }}</p></span>
        </a>
        <a href="#" id="al_stop_editor" style="display: none">
            <span class="al_img_stop_edit al_tab_text pull-left"><p rel="tooltip" title="{{ 'Stops to edit the current page'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Stop'|trans({}, common_domain, cms_language) }}</p></span>
        </a>        
        <div class="clearfix"></div>    
    </div>
        
    <div>
        <div id="al_toggle_nav_button" class="pull-left">
            <ul class="inline al-navigation">
                <li id="al_languages_navigator_box">{% include 'AlphaLemonCmsBundle:Cms:menu_dropdown.html.twig' with {'id': 'al_languages_navigator', 'items' : languages, 'text' : language_name, 'value' : language, 'type' : 'al_language_item'}  %}</li>
                <li id="al_pages_navigator_box">{% include 'AlphaLemonCmsBundle:Cms:menu_dropdown.html.twig' with {'id': 'al_pages_navigator', 'items' : pages, 'text' : page_name, 'value' : page, 'type' : 'al_page_item'}  %}</li>                
            </ul>
        </div>
        <div class="pull-left">
            <a href="#" id="al_show_navigation">
                <span class="al_img_nav pull-left al_tab_text"><p rel="tooltip" title="{{ 'Opens the panel that contains the tools to navigate through the pages of your website'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Nav'|trans({}, cms_controller_domain, cms_language) }}</p></span>
            </a>
        </div>     
        <div class="clearfix"></div>  
    </div>
    
    {% if slots is defined and slots|length > 0 %}
    <div id="al_toggle_slots_changer">
        <a href="#" id="al_start_slots_management">
            <span class="al_img_slots al_tab_text pull-left" rel="tooltip" title="{{ 'Starts to edit the template slots'|trans({}, cms_controller_domain, cms_language) }}"><p>{{ 'Slots'|trans({}, cms_controller_domain, cms_language) }}</p></span>
        </a>
        <a href="#" id="al_stop_slots_management" style="display: none">
            <span class="al_img_stop_edit al_tab_text pull-left"><p rel="tooltip" title="{{ 'Stops to edit the template slots'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Stop'|trans({}, common_domain, cms_language) }}</p></span>
        </a>        
        <div class="clearfix"></div>    
    </div>
        
    <div id="">
        <a href="#" id="al_finalize_theme">
            <span class="al_img_finalize al_tab_text pull-left"><p rel="tooltip" title="{{ 'Finalizes the change of the website theme. This command should be used when all the templates slots have been mapped each other'|trans({}, cms_controller_domain, cms_language) }}">{{ 'Finalize'|trans({}, cms_controller_domain, cms_language) }}</p></span>
        </a>  
    </div>
    {% endif %}
        
</div>
   
<div id="al_block_menu_top" class="al_block_menu"></div>
<div id="al_block_menu_bottom" class="al_block_menu"></div>
<div id="al_block_menu_left" class="al_block_menu"></div>    
<div id="al_block_menu_right" class="al_block_menu"></div>   

<div id="al_active_block_menu_top" class="al_block_menu"></div>
<div id="al_active_block_menu_bottom" class="al_block_menu"></div>
<div id="al_active_block_menu_left" class="al_block_menu"></div>    
<div id="al_active_block_menu_right" class="al_block_menu"></div>   

<div id="al_panel"></div>
<div id="al_block_menu_toolbar" class="pull-right">
    <ul class="inline">
        <li><a id="al_block_menu_add" href="#"><div class="al-img-button al-img-add-button">&nbsp;</div></a></li>
        <li><a id="al_block_menu_move" href="#"><div class="al-img-button al-img-move-button">&nbsp;</div></a></li>
        <li><a id="al_block_menu_delete" href="#"><div class="al-img-button al-img-delete-button">&nbsp;</div></a></li>
    </ul>    
</div>

{% if slots is defined and slots|length > 0 %}
<div id="al_old_slots" class="al_floating_panel al_slots_panel" style="display: none">
    {% include 'AlphaLemonCmsBundle:Themes:template_slots_panel.html.twig' %}
</div>
{% endif %}

{% include "AlphaLemonCmsBundle:Cms:AvailableBlocks/available_blocks.html.twig" with {'blocks': available_blocks} %}
{% if permalinks is defined %}
{% include "AlphaLemonCmsBundle:Pages:permalink_select.html.twig" with { pages: permalinks } %}
{% endif %}
<div id="al_cms_contents" class="{page: '{{ page }}', language: '{{ language }}'}">
{{ parent() }}
</div>

{% endblock %}
