{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'AlphaLemonCmsBundle:Cms:cms-background.html.twig' %}

{% set cms_language = configuration.read('language') %}

{% block cms_content %}
    <h1>{{ 'Welcome to AlphaLemon CMS'|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</h1>
    <p>{{ 'This is the AlphaLemon CMS background and usually it should be hide. There are many reasons you are seeing it, the most common are:'|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</p>
    <ul>
        <li>{{ 'The page and/or the language you have requested does not exist'|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</li>
        <li>{{ 'The page has assigned a template not included in the theme you are using on your website'|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</li>
        <li>{{ 'Your website has any page and/or language and/or theme'|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</li>
        <li>{{ 'Something has gone wrong during the install process'|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</li>
    </ul>
    {% if app.session.getFlashBag.has('notice') %}
    <p style="font-weight: bold">{{ 'The action you made returns this response:'|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</p>
    <p class="text-error">{{ app.session.flashbag.get('notice') }}</p>
    {% endif %}
{% endblock %}
