{#
 This file is part of the BusinessCarouselBundle and it is distributed
 under the GPL LICENSE Version 2.0. To use this application you must leave
 intact this copyright notice.

    Copyright (c) AlphaLemon <webmaster@alphalemon.com>

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.

 For extra documentation and help please visit http://www.alphalemon.com

    @license    GPL LICENSE Version 2.0
#}

{% block list %}
 <div class="al_items_list">
    {% if items is defined and items|length > 0 %}
    <table>
    {% for key, item in items %}
         <tr class="{{ cycle(['alternate_row', 'row'], loop.index) }}">
            {% for value in item %}
                <td>{{ value }}</td>
            {% endfor %}
            <td><a href="#" rel="{{ key }}" class="al_edit_item">Edit</a></td>
            <td><a href="#" class="al_delete_item" rel="{{ key }}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>Any item has been added. You can add a new item clicking the <b>New</b> button here below</p>
    {% endif %}
</div>
{% endblock %}

{% block commands %}
<div class="al_commands_box">
    <ul>
        <li><input type="submit" value="New" class="al_add_item input button al_large" /></li>
    </ul>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function()
    {
        $('.al_add_item').AddItem({{ block_id }});
        $('.al_edit_item').EditItem({{ block_id }});
        $('.al_delete_item').DeleteItem({{ block_id }});
    });
</script>
{% endblock %}
