{% extends base_template %}

{% block metatags %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block post_external_stylesheets %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Slabo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="/plugins/booktheme/css/style.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block external_stylesheets %}
    {% for value in template_assets_manager.getExternalStylesheets(['cssrewrite']) %}
        <link href="{{ value }}" rel="stylesheet" type="text/css" media="all" />
    {% endfor %}
{% endblock %}

{% block external_javascripts %}
    {% for value in template_assets_manager.getExternalJavascripts %}
        <script src="{{ value }}"></script>
    {% endfor %}
{% endblock %}

{% block body %}
    <div>
        <div class="container">
            <div class="row">
                <div id="logo" class="col-md-6">
                    {# repeat: site #}{{ slots.logo|default('')|raw }}
                </div>
            </div>
        </div>
        <div class="container" id="contents">
            <div class="row">
                <div id="main-content" class="col-md-7">
                    {{ slots.main_content|default('')|raw }}
                </div>
            </div>
            <div class="row">
                <div id="content" class="col-md-6">
                    {{ slots.content|default('')|raw }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="download" class="col-md-6">
                    {{ slots.download|default('')|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}