{#
   This file is part of the RedKiteCmsBunde Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) RedKite Labs <webmaster@redkite-labs.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.redkite-labs.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'RedKiteCmsBundle:Themes:base.html.twig' %}

{% block theme_panel %}
<div>
    <div>
        <p><b>{{ "themes_controller_finalize_change_theme_explanation"|trans({}, 'RedKiteCmsBundle', cms_language) }}</b></p>
        <p>{{ "themes_controller_partial_finalize_explanation"|trans({}, 'RedKiteCmsBundle', cms_language) }}</p>
        <p>{{ "themes_controller_full_finalize_explanation"|trans({}, 'RedKiteCmsBundle', cms_language) }}</p>
    </div>
    <div class="pull-right">
        <button id="al-partial-finalizer" class="btn btn-info">{{ "theme_controller_label_partial"|trans({}, 'RedKiteCmsBundle', cms_language) }}</button>
        <button id="al-full-finalizer" class="btn btn-primary">{{ "theme_controller_label_full"|trans({}, 'RedKiteCmsBundle', cms_language) }}</button>
        <button id="al-close-finalizer" class="btn">{{ "common_label_close"|trans({}, 'RedKiteCmsBundle', cms_language) }}</button>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#al-close-finalizer').click(function(){
            $('#al_dialog').dialog('close');
        });
        
        $('#al-partial-finalizer').click(function() {
            finalize('partial');
        });
        
        $('#al-full-finalizer').click(function() {
            finalize('full');
        });
    });
        
    function finalize(action)
    {
        $.ajax({
          type: 'POST',
          url: frontController + 'backend/' + $('#al_available_languages option:selected').val() + '/al_finalizeTheme',
          data: {
            'page' :  $('#al_pages_navigator').html(),
            'language' : $('#al_languages_navigator').html(),
            'action': action
          },
          beforeSend: function()
          {
            $('body').AddAjaxLoader();
          },
          success: function(html)
          {
              $('body').showAlert(html);
          },
          error: function(err)
          {
            $('#al_dialog').html(err.responseText);
          },
          complete: function()
          {
            $('body').RemoveAjaxLoader();
          }
      });

      return false;
    }
</script>
{% endblock %}
