{% extends 'BootbusinessThemeBundle:Theme:base/base.html.twig' %}

{% use 'BootbusinessThemeBundle:Slots:slots.html.twig' %}


{% block contents %}
<div class="content">
  <div class="container">
    <div class="page-header">
        {{ block('contacts_title') }} 
    </div>
    <div class="row-fluid">
      <!-- Start: CONTACT US FORM -->
      <div class="span4 offset1">
        <div class="page-header">
            {{ block('contacts_message_title') }} 
        </div>
        {{ block('contacts_form') }}         
      </div>
      <div class="span5 offset1">
        <div class="page-header">
            {{ block('offices_section_title') }}  
        </div>
        {{ block('offices') }}  
      </div>
    </div>
  </div>
</div>
{% endblock %}
