<br><br><br><br><br><br>

<div class="accordion" id="accordion2">
    {% set i = 0 %}
{% for block_name, block_value in blocks %}
    

    {% if block_value|keys  %}
        <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ i }}">
            {{ block_name }}
            </a>
        </div>
    
    {# else #}   
        <div id="{{ i }}" class="accordion-body collapse in">
            <div class="accordion-inner">
                <ul>
        {% for value in block_value %}
        {% if value != "menu-divider" %}
        <li><a href="#" rel="{{ block_name }}" class="al_context_menu_item">{{ value }}</a></li>
        {% endif %}
        {% endfor %}
                </ul>
            </div>
        </div>
        {% set i = i + 1 %}
</div>
    {% endif %}
{% endfor %}
        </div>