{% extends "RedKiteCms/Resources/views/Frontend/base.html.twig" %}

{% block external_stylesheets %}
    <link href="/components/redkitecms/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/components/redkitecms/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>Error detected</h1>
            <p>An error occured when saving changes to backend:</p>
            <div class="alert alert-danger" role="alert">{{ queue.error }}</div>
            <p>
                This error should not happen and it is probably caused by a bug in the application. Please, try to
                fix that issue and, if you can find that bug, please report it at <a href="https://github.com/redkite-labs/RedKiteCms/issues">https://github.com/redkite-labs/RedKiteCms/issues</a>.
            </p>
            <p>
                If you are not able to fix that issue, you can try to remove the entry which causes the problem in the <b>{{ queue_file }}</b>,
                but you will loose that operation and you might have other problems with the queue flow execution, if other operations
                depends on the one you removed.
            </p>
            <p>
                At last you can remove the <b>{{ queue_file }}</b> but you will loose all the operation you made.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h2>Queue</h2>
            <p>You can find the first five operations not executed listed down below:</p>
            <table class="table table-striped">
                {% for action in queue.queue|slice(0, 5) %}
                <tr>
                    <td>{% if loop.first %}<i class="fa fa-warning text-danger"></i>{% endif %}</td>
                    <td>{{ action.action }}</td>
                    <td>{{ action.entity }}</td>
                </tr>
                {% endfor %}
            </table>
            {% if queue.queue|length > 5 %}
            <p>More {{ queue.queue|length - 5 }}</p>
            {% endif %}
            <form action="{{ path('_rkcms_save_queue') }}" method="post">
                <button class="rkcms-queue-action-button btn btn-primary">Execute</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}