{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% for template_name, template in active_theme_templates %}
    <div id="al_map_{{ template_name }}" class="al_template al_items_list al_hidden">
        <table width="100%">
            {% for slot_name in template %}
            {% if slot_name != "" %}
            <tr class="{{ cycle(['alternate_row', 'row'], loop.index) }}">
                <td id="al_slot_{{ template_name }}_{{ slot_name }}" class="al_slot" rel="{{ template_name }}_{{ slot_name }}" width="95%">{{ slot_name }}</td>
                <td  width="5%"><div id="al_locker_{{ template_name }}_{{ slot_name }}" class="al_locker al_hidden">LK</div></td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
{% endfor %}

{% for key, block_manager in block_managers %}
<div id="{{ key }}" class="al_hidden">{{ blockContentToHtml(block_manager.toArray.Content) }}</div>
{% endfor %}