{#
   This file is part of the RedKite CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) RedKite Labs <webmaster@redkite-labs.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.redkite-labs.com

   @license    GPL LICENSE Version 2.0
#}

{% extends template %}

{% set cms_language = configuration.read('language') %}

{% block internal_header_javascripts %}
{{ parent() }}
<script>

    function CmsStartInternalJavascripts(){
        try
        {
            {{ internal_javascripts|raw }}
        }
        catch(e)
        {
            alert(e);
        }
    }

    $(document).ready(function()
    {
        frontController = '{{ frontController }}';

        CmsStartInternalJavascripts();
        $('.al-template').click(function(){
            $(this).template('load');
        });
    });
</script>
{% endblock %}

{% block internal_header_stylesheets %}
    {{ parent() }}
{% endblock %}

{% block external_stylesheets %}
    {{ parent() }}

    {% for value in templateStylesheets %}
    <link href="{{ asset(value) }}" rel="stylesheet" type="text/css" media="all" />
    {% endfor %}

    {% if enable_yui_compressor is defined and enable_yui_compressor %}
        {% stylesheets filter='?yui_css,cssrewrite' 'components/redkitecms/twitter-bootstrap/css/bootstrap.min.css'
                                                    'bundles/redkitecms/vendor/vendor-adapter.css' 
                                                    'bundles/redkitecms/css/skins/bootstrap/skin.css'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all" />
        {% endstylesheets %}
    {% else %}
        {% stylesheets filter='?cssrewrite' 'components/redkitecms/twitter-bootstrap/css/bootstrap.min.css'
                                            'bundles/redkitecms/vendor/vendor-adapter.css' 
                                            'bundles/redkitecms/css/skins/bootstrap/skin.css'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen" />
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block external_javascripts %}
    {% if enable_yui_compressor is defined and enable_yui_compressor %}
    {% javascripts  filter='?yui_js' 'components/jquery/jquery.min.js'
                                     'components/redkitecms/jquery-ui/js/jquery-ui.min.js'
                                     'components/redkitecms/twitter-bootstrap/js/bootstrap.js'
                                     'components/jquery-easing/jquery.easing.min.js'
                                     'components/holderjs/holder.js'
                                     'bundles/redkitecms/js/*' 
    %} 
    
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% else %}
    {% javascripts  'components/jquery/jquery.min.js'
                    'components/redkitecms/jquery-ui/js/jquery-ui.min.js'
                    'components/redkitecms/twitter-bootstrap/js/bootstrap.min.js'
                    'components/jquery-easing/jquery.easing.min.js'
                    'components/holderjs/holder.js'
                    'bundles/redkitecms/js/*' 
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}
    
    {% for value in templateJavascripts %}
    <script src="{{ asset(value) }}"></script>
    {% endfor %}
{% endblock %}

{% block body %}

<div id="al_main_commands">
    <div>
        <div id="al_toggle_nav_button" class="pull-left">        
            {% include 'RedKiteCmsBundle:Cms:menu_dropdown.html.twig' with {'id': 'al_templates_navigator', 'items' : templates, 'text' : template_name, 'type' : 'al-template'}  %}
            <input id="al-language" type="hidden" value="{{ language_name}}" />
            <input id="al-page" type="hidden" value="{{ page_name}}" />
            <input id="al-theme" type="hidden" value="{{ theme_name}}" />
        </div>
        <div class="pull-left">
            <a href="#" id="al_show_navigation">
                <span class="al_img_nav pull-left al_tab_text"><p>{{ "Nav"|trans({}, "AlphaLemonCmsBundle", cms_language) }}</p></span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div>
        <a href="{{ path('alpha_lemon_cms_navigation', {'_locale': language_name, 'page': page_name }) }}" id="al-back">
            <span class="al_img_back pull-left"><p>{{ "Back"|trans({}, "AlphaLemonCmsBundle", cms_language) }}</p></span>
        </a>
    </div>
</div>

<div id="al_cms_contents">
{{ parent() }}
</div>

{% endblock %}
