{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends template %}

{% block internal_header_javascripts %}
{{ parent() }}
<script>

    function CmsStartInternalJavascripts(){
        try
        {
            {{ internal_javascripts|raw }}
        }
        catch(e)
        {
            alert(e);
        }
    }

    $(document).ready(function()
    {
        frontController = '{{ frontController }}';

        CmsStartInternalJavascripts();
        ObserveThemesPreviewCommands();
    });
</script>
{% endblock %}

{% block internal_header_stylesheets %}
    {{ parent() }}
{% endblock %}

{% block external_stylesheets %}

    {{ parent() }}

    {% for value in templateStylesheets %}
    <link href="{{ asset(value) }}" rel="stylesheet" type="text/css" media="all" />
    {% endfor %}

    {% if enable_yui_compressor is defined and enable_yui_compressor %}
        {% stylesheets filter='?yui_css,cssrewrite' 'bundles/alphalemoncms/css/skins/alphaLemon/skin.css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all" />
        {% endstylesheets %}
    {% else %}
        {% stylesheets filter='cssrewrite' 'bundles/alphalemoncms/css/skins/alphaLemon/skin.css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen" />
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block external_javascripts %}
    {{ parent() }}

    {% if enable_yui_compressor is defined and enable_yui_compressor %}
    {% javascripts  filter='?yui_js' 'bundles/alphalemonthemeengine/js/vendor/jquery/jquery-last.min.js'
                                     'bundles/alphalemoncms/js/al-dialog.js'                                     
                                     'bundles/alphalemoncms/js/al-ajax-loader.js'
                                     'bundles/alphalemoncms/js/al-themes-preview.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% else %}
    {% javascripts  'bundles/alphalemonthemeengine/js/vendor/jquery/jquery-last.min.js'
                    'bundles/alphalemoncms/js/al-dialog.js'                                     
                    'bundles/alphalemoncms/js/al-ajax-loader.js'
                    'bundles/alphalemoncms/js/al-themes-preview.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}

    {% for value in templateJavascripts %}
    <script src="{{ asset(value) }}"></script>
    {% endfor %}
{% endblock %}

{% block body %}


<div id="al_toolbar">
    <div class="al_float_left al_boxes_margins small_logo"><img src="/{{ skin_path }}/images/main_menu/small-logo.png" /></div>
    <div id="al_menu" class="al_float_left">
        {#<ul>
            <li><a href="#" id="al_start_editor">Edit</a></li>
            <li><a href="#" id="al_stop_editor">Stop</a></li>
            <li><a href="#" id="al_open_pages_panel">Pages</a></li>
            <li><a href="#" id="al_open_languages_panel">Languages</a></li>
            <li><a href="#" id="al_open_themes_panel">Themes</a></li>
            <li><a href="#" id="al_open_media_library">Media Library</a></li>
            <li><a href="#" id="al_deploy_site">Deploy</a></li>
        </ul>#}
        Theme: <span id="al_current_theme">{{ theme_name }}</span> | 
        Available templates
        <select id="al_templates_selector" class="input select">
            {% for template in templates %}
            <option value="{{ template.getTemplateName }}">{{ template.getTemplateName }}</option>
            {% endfor %}
        </select> 
        <a id="al_load_active_theme" href="#">Slots</a>
        <a href="/{{ app.environment }}.php/backend/{{ app.request.get('languageName')}}/{{app.request.get('pageName')}}">Return to CMS</a>
        <span id="al_referal_language" class="al_hidden">{{ app.request.get('languageName') }}</span>
        <span id="al_referal_page" class="al_hidden">{{ app.request.get('pageName') }}</span>
    </div>
    <div id="al_navigator" class="al_float_right al_boxes_margins">
        Languages
        {% include 'AlphaLemonCmsBundle:Cms:menu_combo.html.twig' with {'id': 'al_available_languages', 'items' : available_languages}  %}
    </div>
    <div style="clear:both;"></div>
</div>

<div id="al_preview_contents">
{{ parent() }}
</div>
<div id="al_active_theme"></div>
{% endblock %}
