{% extends "AlphaLemonCmsBundle:Editor:base_editor.html.twig" %}

{% block body %}
{% if filepath is defined %}
<a href="/{{ folder }}/{{ filepath }}" {{ editor|raw }}>{{ filename }}</a>
{% else %}

{% set file = kernel_root_dir ~ '/../' ~ webfolder ~ '/' ~ folder ~ '/' ~ filename %} 
<div {{ editor|raw }}>
{{ file_open(file) }}
</div>
{% endif %}
{% endblock %}