{% extends "RedKiteCmsBundle:Editor:base_editor.html.twig" %}

{% block body %}
{% if displayValue is defined %}
<a href="/{{ folder }}/{{ filename }}" {{ editor|raw }}>{{ displayValue }}</a>
{% else %}

{% set file = kernel_root_dir ~ '/../' ~ webfolder ~ '/' ~ folder ~ '/' ~ filename %} 
<div {{ editor|raw }}>
{{ file_open(file) }}
</div>
{% endif %}
{% endblock %}