{% extends "RedKiteCmsBundle:Block:Editor/_editor.html.twig" %}

{% if carousel_id is not defined or carousel_id == "" %}
{% set carousel_id = "rk-carousel" %}
{% endif %}

{% block body %}
<div id="{{ carousel_id }}" class="carousel slide" {{ editor|raw }}>
    <ol class="carousel-indicators">
        {% for item in items %}
        <li data-target="#{{ carousel_id }}" data-slide-to="{{ loop.index }}" class="{% if(loop.first)%}active{% endif %}"></li>
        {% endfor %}
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% set active = " active" %}
        {% for item in items %}
            <div class="item{{ active }}">
                {% include "RedKiteCmsBaseBlocksBundle:Content:Image/image.html.twig" with {"image" : item, "enabled" : false } %}
            {% if (item.caption_title is defined and item.caption_title != "") or (item.caption_body is defined and item.caption_body != "") %}
                <div class="carousel-caption">
                    {% if item.caption_title is defined %}{% endif %}<h4>{{ item.caption_title }}</h4>
                    {% if item.caption_body is defined %}<p>{{ item.caption_body }}</p>{% endif %}
                </div>
                {% set active = "" %}
            {% endif %}
            </div>
        {% endfor %}
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#{{ carousel_id }}" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="carousel-control right" href="#{{ carousel_id }}" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
{% endblock %}
