{#
   This file is part of the RedKite CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) RedKite Labs <webmaster@redkite-labs.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'RedKiteCmsBundle:Panels:base.html.twig' %}

{% set cms_language = configuration.read('language') %}
{% set panel_class = 'al_panel_contents_width' %}

{% block al_sidebar_middle_inside %}
<div id="al_pages">

    {{ form_errors(pagesForm) }}
    {{ form_errors(pageAttributesForm) }}

    <ul class="nav nav-tabs">
        <li class="active"><a href="#page" data-toggle="tab">{{ "Page"|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</a></li>
        <li><a href="#seo" data-toggle="tab">{{ "SEO"|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</a></li>
        <li><a href="#sitemap" data-toggle="tab">{{ "Sitemap"|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</a></li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane active tab-height-page" id="page">
            <div id="al_pages_attributes_section">
                <table id="al_page_form" border="0">
                    <tr>
                      <td colspan="2"><h2>{{ "Page attributes"|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</h2></td>
                    </tr>
                    <tr>
                      <td>{{ form_label(pagesForm.pageName, "Page name"|trans({}, 'AlphaLemonCmsBundle', cms_language)) }}</td>
                      <td>{{ form_errors(pagesForm.pageName) }} {{ form_widget(pagesForm.pageName, { 'attr': {'title': "Type here an unique name for the page"|trans({}, 'AlphaLemonCmsBundle', cms_language)}}) }} </td>
                    </tr>

                    <tr>
                      <td>{{ form_label(pagesForm.template, "Template"|trans({}, 'AlphaLemonCmsBundle', cms_language)) }}</td>
                      <td>
                        {{ form_errors(pagesForm.template) }} {{ form_widget(pagesForm.template, { 'attr': {'title': "Choose one template from the current theme"|trans({}, 'AlphaLemonCmsBundle', cms_language)}}) }}
                      </td>
                    </tr>
                    <tr>
                      <td>{{ form_label(pagesForm.isHome, "Home page"|trans({}, 'AlphaLemonCmsBundle', cms_language)) }}</td>
                      <td>
                        {{ form_errors(pagesForm.isHome) }} {{ form_widget(pagesForm.isHome, { 'attr': {'title': "Set the page as the home page of your website. This is the page displayed when any specific page has been requested"|trans({}, 'AlphaLemonCmsBundle', cms_language)}}) }}
                      </td>
                    </tr>
                    <tr>
                      <td>{{ form_label(pagesForm.isPublished, "Published"|trans({}, 'AlphaLemonCmsBundle', cms_language)) }}</td>
                      <td>
                        {{ form_errors(pagesForm.isPublished) }} {{ form_widget(pagesForm.isPublished, { 'attr': {'title': "Check this option to publish the page"|trans({}, 'AlphaLemonCmsBundle', cms_language)}}) }}
                      </td>
                    </tr>
                </table>
            </div>
        </div>
    
        <div class="tab-pane tab-height-page" id="seo">
            <div id="al_pages_seo_attributes_section">
                <table id="al_attributes_form" border="0">
                    <tr>
                      <td colspan="2"><h2>{{ "SEO - Search Engines Optimization"|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</h2></td>
                    </tr>
                    <tr>
                      <td>{{ form_label(pageAttributesForm.permalink, "Permalink"|trans({}, 'AlphaLemonCmsBundle', cms_language)) }}</td>
                      <td>{{ form_errors(pageAttributesForm.permalink) }} {{ form_widget(pageAttributesForm.permalink, { 'attr': {'rows': '2', 'class': 'input-xlarge', 'title': "This is a permanent link that identifies uniquely the page"|trans({}, 'AlphaLemonCmsBundle', cms_language)}}) }}</td>
                    </tr>
                    <tr>
                      <td>{{ form_label(pageAttributesForm.title, "Meta-Title"|trans({}, 'AlphaLemonCmsBundle', cms_language)) }}</td>
                      <td>{{ form_errors(pageAttributesForm.title) }} {{ form_widget(pageAttributesForm.title, { 'attr': {'rows': '2', 'class': 'input-xlarge', 'title': "The page title. It should be congruent with the page's text, it should always be compiled and is should be length 60 chars max"|trans({}, 'AlphaLemonCmsBundle', cms_language)}}) }}</td>
                    </tr>
                    <tr>
                      <td>{{ form_label(pageAttributesForm.description, "Meta-Description"|trans({}, 'AlphaLemonCmsBundle', cms_language)) }}</td>
                      <td>{{ form_errors(pageAttributesForm.description) }}  {{ form_widget(pageAttributesForm.description, { 'attr': {'rows': '3', 'class': 'input-xlarge', 'title': "Provide here a brief description of the page. This attribute should always be compiled"|trans({}, 'AlphaLemonCmsBundle', cms_language)}}) }}</td>
                    </tr>
                    <tr>
                      <td>{{ form_label(pageAttributesForm.keywords, "Meta-Keywords"|trans({}, 'AlphaLemonCmsBundle', cms_language)) }}</td>
                      <td>{{ form_errors(pageAttributesForm.keywords) }} {{ form_widget(pageAttributesForm.keywords, { 'attr': {'rows': '3', 'class': 'input-xlarge', 'title': "This attribute is no longer used by several Search Engines, so you could quite leave it blank"|trans({}, 'AlphaLemonCmsBundle', cms_language)}}) }}</td>
                    </tr>
                    <tr>
                      <td>
                        {{ form_rest(pagesForm) }}
                      </td>
                    </tr>
                </table>
            </div>
        </div>
    
        <div class="tab-pane tab-height-page" id="sitemap">
            <div id="al_pages_site_map_section">
                <table id="al_sitemp_form" border="0">
                    <tr>
                      <td colspan="2"><h2>{{ "Site map"|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</h2></td>
                    </tr>
                    <tr>
                      <td>{{ form_label(pageAttributesForm.sitemapChangeFreq, "Change Frequency"|trans({}, 'AlphaLemonCmsBundle', cms_language)) }}</td>
                      <td>{{ form_errors(pageAttributesForm.sitemapChangeFreq) }} {{ form_widget(pageAttributesForm.sitemapChangeFreq) }}</td>
                    </tr>
                    <tr>
                      <td>{{ form_label(pageAttributesForm.sitemapPriority, "Priority"|trans({}, 'AlphaLemonCmsBundle', cms_language)) }}</td>
                      <td>{{ form_errors(pageAttributesForm.sitemapPriority) }} {{ form_widget(pageAttributesForm.sitemapPriority) }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="pull-right">
    <input id="al_page_saver" type="submit" value="{{ "Save"|trans({}, 'AlphaLemonCmsBundle', cms_language) }}" class="btn btn-primary" />
</div>
{% endblock %}

{% block al_sidebar_right_inside %}
    <h2>{{ "Pages selector"|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</h2>
    <div>
        {{ form_label(pageAttributesForm.idLanguage, "Languages"|trans({}, 'AlphaLemonCmsBundle', cms_language)) }}
        {{ form_errors(pageAttributesForm.idLanguage) }} {{ form_widget(pageAttributesForm.idLanguage) }}
        {{ form_rest(pageAttributesForm) }}
    </div>

    <div id="al_pages_box" class="al_panel_box">
        <div class="al_panel_box_header">
            <span class="al_panel_box_header_title white-text-shadow">{{ "Site pages"|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</span>
        </div>
        <div id="al_pages_list" class="al_panel_list">
            {% include 'RedKiteCmsBundle:Pages:pages_list.html.twig' %}
        </div>
    </div>

    <input id="al_pages_remover" class="btn btn-danger pull-right" type="submit" value="{{ "Delete"|trans({}, 'AlphaLemonCmsBundle', cms_language) }}" />

    <div id="al_select_languages_reminder">{{ "And now select the language or remove the page"|trans({}, 'AlphaLemonCmsBundle', cms_language) }}</div>
{% endblock %}
