{#
   This file is part of the RedKiteCmsBunde Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) RedKite Labs <webmaster@redkite-labs.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.redkite-labs.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'RedKiteCmsBundle:Bootstrap:' ~ bootstrap_version ~ '/base.html.twig' %}

{% block body %}
<div id="al_pages_list">
    <h2>{{ "cms_controller_label_pages"|trans({}, 'RedKiteCmsBundle', cms_language) }}</h2>
    <table class="table table-condensed table-hover">
        <tbody>
            <thead>
                <th></th>
                <th>{{ "pages_controller_label_page_name"|trans({}, 'RedKiteCmsBundle', cms_language) }}</th>
                <th colspan="2"></th>
            </thead>
            {% for key, page in pages %}
            {% if selected_page is defined and key == selected_page %}
                {% set class = "al_element_selected" %}
            {% else %}
                {% set class = "" %}
            {% endif %}
            <tr>
                <td>{{ page_icon|raw }}</td>
                {% if active_page is defined and page == active_page %}
                <td width="85%"><a href="#" class="al_element_selector active-page {{ class }}" id="rk_page_{{ key }}" data-page-id="{{ key }}">{{ page }}</a></td>
                {% else %}
                <td width="85%"><a href="#" class="al_element_selector {{ class }}" id="rk_page_{{ key }}" data-page-id="{{ key }}">{{ page }}</a></td>
                {% endif %}
                <td width="15%">
                    {% include 'RedKiteCmsBundle:Partials:_select.html.twig' with {'id' : 'rk_language_' ~ key, 'classes': 'form-control input-xxs input-mini rk-page-language', 'select_options' : languages, 'rel': key}  %}
                </td>
                <td><button class="btn btn-xs btn-danger rk-page-remover btn-mini" data-page-id="{{ key }}">{{ trash_icon|raw }}</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}