{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

<ul id="tlyPageGuide" data-tourtitle="AlphaLemon CMS">        
  {# Pages management #}  
  <li class="tlypageguide_left" data-tourtarget="#al_pages_attributes_section">
    <div>
      {{ "This section is related to the attributes of the page itself" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget="#al_pages_seo_attributes_section">
    <div>
      {{ "This section is related to the SEO (Search Engine Optimization) attributes of the page" | trans([], "al_help") }}
    </div>
  </li>  
  <li class="tlypageguide_left" data-tourtarget="#pages_pageName">
    <div>
      {{ "Enter the name of the page. This identifies the page internally" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#pages_template">
    <div>
      {{ "Choose the template for the new page" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget="#pages_isHome">
    <div>
      {{ "Check this option to promote a page as the website homepage. Please notice taht the page declared as homepage cannot be removed. If you need to do that, promote another page as home, then remove the other" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#pages_isPublished">
    <div>
      {{ "Check this option to publish a page. If this checkbox is uncheded the page is not published when the deploy runs" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#seo_attributes_permalink">
    <div>
      {{ "Enter the description of your page on a single row to create a permanent link that identifies the page outside of your site. This is the most important information to enter and must be as much descriptive as possible. Don't worry about characters like spaces, accented letters and so on, they will be automatically translated as valid chars: the \"welcome to MyCompany wébsite\" permalink will be changed as \"welcome-to-mycompany-website\"" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget="#seo_attributes_title">
    <div>
      {{ "Enter the title of your page. This information is fundamental for SEO (Search Engine Optimization) so it should be as much accuracy and page descriptive as possible" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#seo_attributes_description">
    <div>
      {{ "Enter a brief description of your page. This information is fundamental for SEO, if fact it is the one you read it each time you made a search on google, dispayed under the link you click to visit a found website" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#seo_attributes_keywords">
    <div>
      {{ "Enter some mirated keywords to describe your page. Keywords must be comma separated" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#al_page_saver">
    <div>
      {{ "Saves the new page or edits the current selected from the pages list" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget="#seo_attributes_idLanguage">
    <div>
      {{ "To select and manage pages, you must choose the language from this combobox" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#al_pages_list">
    <div>
      {{ "Here are listed all the pages added to the website. To select a page just click on the desidered page, to deselect just click on the selected page again" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget="#al_pages_remover">
    <div>
      {{ "This command deletes the current selected page in the pages list. To remove entirely a page and its SEO attributes, select the page and do NOT select any language from the \"Languages\" combobox. To remove just the SEO attributes, select both the page and the language" | trans([], "al_help") }}
    </div>
  </li>

  {# Languages management #}
  <li class="tlypageguide_left" data-tourtarget="#languages_language">
    <div>
      {{ "Choose the language to add from the languages combobox" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#languages_isMain">
    <div>
      {{ "Check this combobox to promote the current language as the main one. The main language is the one displayed when a visitor of your website clicks or digit the address of the website without specifing the language and the page. For example requesting the http://alphalemon.com the language displayed is the english because it is desclare as main language" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget="#al_language_saver">
    <div>
      {{ "Saves the new language or edits the selected one" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget="#al_languages_list">
    <div>
      {{ "Lists the languages in use. To select a language just click on the desidered language, to deselect just click on the selected language again" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget="#al_languages_remover">
    <div>
      {{ "Removes the selected language in the languages list" | trans([], "al_help") }}
    </div>
  </li>
  {# Themes fixer #}
  <li class="tlypageguide_left" data-tourtarget="#al_template">
    <div>
      {{ "The list of themes available on the new theme" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#al_template_changer">
    <div>
      {{ "Changes the template of the selected pages in the \"Pages list\", with the one selected in the \"Available themes\" combo box" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget="#al_pages_to_fix_list">
    <div>
      {{ "The list of the website's pages. Use the checkbox placed on the left of the page name to assign a new template. You are not obey to map all pages, but if a template does not exist in the new theme an error occours" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#al_activate_theme">
    <div>
      {{ "Activates the new theme" | trans([], "al_help") }}
    </div>
  </li>
  {# Themes management #}
  <li class="tlypageguide_left" data-tourtarget="#al_active_theme_information">
    <div>
      {{ "Here are displayed the information about the active theme in use on your website" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#al_available_themes_information">
    <div>
      {{ "Here are listed the available themes you may use on your website" | trans([], "al_help") }}
    </div>
  </li>  
  <li class="tlypageguide_bottom" data-tourtarget="#al_theme_selector">
    <div>
      {{ "Previews the selected theme. In this module you may map both the templates and the blocks from the active theme to the one you are previewing, to move the website's page from the old theme to the new one. At last you may activate the new theme" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget=".al_themes_fixer">
    <div>
      {{ "Activates the selected theme. Before the activation you may map the templates to move the website's page from the old theme to the new one" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget=".al_start_from_theme">
    <div>
      {{ "This command resets the current website and populate it with the default blocks from the new theme. This operation should be made only on a fresh installation of AlphaLemon CMS because it destroyes all the saved information" | trans([], "al_help") }}
    </div>
  </li>
  {# Blocks management #}
  <li class="tlypageguide_bottom" data-tourtarget=".al_edit_on">
    <div>
      {{ "An editable block is surrounded by a dotted red square and becomes editable: to start edit it, just click into its area. To perform addictional actions, like add a new block or remove the one you are working on, just click the mouse's right button" | trans([], "al_help") }}
    </div>
  </li>
  {# Toolbar #}
  <li class="tlypageguide_bottom" data-tourtarget="#al_small_logo">
    <div>
      {{ "AlphaLemon CMS commands toolbar. Here are placed all the commands your need to manage your website" | trans([], "al_help") }}
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget="#al_pages_navigator">
    <div>
      {{ "Lists all the website's languages and pages: choose them to navigate through the website. Pages can be browsed by clicking the links placed on them too" | trans([], "al_help") }}      
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget="#al_available_languages">
    <div>
      {{ "AlphaLemon CMS available languages" | trans([], "al_help") }}
    </div>
  </li>
</ul>